<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" >
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">



  <style media="screen">
  .center {
    display: flex ;
    justify-content: center;
    align-items: ceneter;
  }
  </style>
</head>
<body>
  <!-- hero -->
  <section class="hero">
    <div class="hero-body ">
      <div class="container">
        <figure class="image center">
          <img src="qgisorg_banner328.png"  >
        </figure>
      </div>
    </div>
  </section>
  <!-- hero -->

  <!-- section -->
  <section class="section has-background-light ">
    <div class="container">
      <div class="columns">
        <div class="column">
          
          <div class=" notification is-warning">
            <article class="media">
              <figure class="media-left">
               <span class="icon  is-medium">
                <i class="fa fa-2x fa-css3" aria-hidden="true"></i>
               </span>
              </figure>
              <div class="media-content">
                <div class="content">
                    
            <h1 class="title is-size-5">Bulma ?</h1>
            <p class="is-size-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
               do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
               ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
               eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
                </div>
                
              </div>
              
            </article>
         
          </div>
        </div>

        <div class="column">
          <div class=" notification is-primary">
            <article class="media">
              <figure class="media-left">
               <span class="icon  is-medium">
                <i class="fa fa-2x fa-th" aria-hidden="true"></i>
               </span>
              </figure>
              <div class="media-content">
                <div class="content">
                    
            <h1 class="title is-size-5"> ....Flexbox </h1>
            <p class="is-size-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
               do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
               ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
               eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
                </div>
                
              </div>
              
            </article>
         
          </div>
        </div>

        <div class="column">
          <div class=" notification is-warning">
            <article class="media">
              <figure class="media-left">
               <span class="icon  is-medium">
                <i class="fa fa-2x fa-sitemap" aria-hidden="true"></i>
               </span>
              </figure>
              <div class="media-content">
                <div class="content">
                    
            <h1 class="title is-size-5">Classes</h1>
            <p class="is-size-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
               do eiusmod tempor incididunt ut labore et dolore magna aliqua.
               Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
               ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
               eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
                </div>
                
              </div>
              
            </article>
         
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- section -->

    <!-- section -->
    <section class="section ">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-one-third">
            
            <div class=" notification is-white">
              <article class="media">
                <figure class="media-left">
                 <span class="icon has-text-warning">
                  <i class="fa fa-lg fa-columns" aria-hidden="true"></i>
                 </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                      
              <h1 class="subtitle is-size-5">Columns ?</h1>
              <p class="is-size-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                 do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                 ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                 eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
                  </div>
                  
                </div>
                
              </article>
           
            </div>
          </div>
  
          <div class="column is-one-third">
            <div class=" notification is-white">
              <article class="media">
                <figure class="media-left">
                 <span class="icon has-text-info">
                  <i class="fa fa-lg fa-minus-square-o" aria-hidden="true"></i>
                 </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                      
              <h1 class="subtitle is-size-5"> Form </h1>
              <p class="is-size-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                 do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                 ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                 eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
                  </div>
                  
                </div>
                
              </article>
           
            </div>
          </div>
  
          <div class="column is-one-third">
            <div class=" notification is-white">
              <article class="media">
                <figure class="media-left">
                 <span class="icon has-text-danger">
                  <i class="fa fa-lg fa-sitemap" aria-hidden="true"></i>
                 </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                      
              <h1 class="subtitle is-size-5">Component</h1>
              <p class="is-size-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                 do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                 ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                 eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
                  </div>
                  
                </div>
                
              </article>
           
            </div>
          </div>

          <div class="column is-one-third">
            <div class=" notification is-white">
              <article class="media">
                <figure class="media-left">
                 <span class="icon has-text-primary">
                  <i class="fa fa-lg fa-calculator" aria-hidden="true"></i>
                 </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                      
              <h1 class="subtitle is-size-5">Utilities</h1>
              <p class="is-size-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                 do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                 ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                 eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
                  </div>
                  
                </div>
                
              </article>
           
            </div>
          </div>
          <div class="column is-one-third">
            <div class=" notification is-white">
              <article class="media">
                <figure class="media-left">
                 <span class="icon has-text-info">
                  <i class="fa fa-lg fa-bars" aria-hidden="true"></i>
                 </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                      
              <h1 class="subtitle is-size-5">Layout</h1>
              <p class="is-size-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                 do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                 ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                 eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
                  </div>
                  
                </div>
                
              </article>
           
            </div>
          </div>
          <div class="column is-one-third">
            <div class=" notification is-white">
              <article class="media">
                <figure class="media-left">
                 <span class="icon has-text-success">
                  <i class="fa fa-lg fa-newspaper-o" aria-hidden="true"></i>
                 </span>
                </figure>
                <div class="media-content">
                  <div class="content">
                      
              <h1 class="subtitle is-size-5">Element</h1>
              <p class="is-size-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                 do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                 ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                 eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
                  </div>
                  
                </div>
                
              </article>
           
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- section -->

</body>
</html>
